<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <style>
    .submit{
        background-color: rgb(92, 151, 177);
        margin-right: 500px;
        margin-left: 450px;
        margin-top: 350px;
        border-radius: 20px;
        font-size: 90px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        font-weight: 50px;
        text-shadow: 0 0 20px #FF0000, 0 0 50px #63ced2;
        text-align: center;
    }
 </style>
</head>
<body>
 <h1 class="submit" > {{nm}} Form is Submitted</h1>
</body>
</html>